<%- model_class = Question -%>
  <h1>Perguntas e Respostas <%= image_tag 'question.png' %></h1>
    
 <%= form_tag(questions_path, method: :get) do %>
<div class="form-group">			  
		<div class="row">
			  <div class="col-lg-3">		
		<%= select_tag(:category, options_from_collection_for_select(@show_category, "id", "name", :selected => params[:category]), include_blank: 'Selecione a categoria', class: 'form-control')%>			  	
		  	  </div>
		</div>
	</div>	
<%= submit_tag "Consultar", class: 'btn btn-success' %>
<%= link_to t('.new', :default => t("helpers.links.new")), new_question_path, :class => 'btn btn-primary' %>

<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name('pergunta') %></th>
      <th><%= model_class.human_attribute_name('categoria') %></th>
      <th><%= model_class.human_attribute_name('criado em') %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.description, question_path(question) %></td>
        <td><%= question.category.name %></td>
        <td><%= question.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_question_path(question), :class => 'btn btn-default btn-xs' %>
          <!--            
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      question_path(question),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %> 
                      -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
